In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
#%matplotlib inline

In [51]:
df = pd.read_csv("/content/BCF_features_training.csv")  # Import  BCF_training data 
df.head()

,CAS,SMILES,Experimental value [log(L/kg)],NumAromaticRings,NumHAcceptors,NumHeteroatoms,NumRotatableBonds,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,fr_COO,fr_COO2,fr_halogen,MolWt,MolLogP
0,50-29-3,c1cc(ccc1C(c2ccc(cc2)Cl)C(Cl)(Cl)Cl)Cl,3.605,2,0,5,2,100,0.540334,0.00,85.0370,2.474117,494.044161,0,0,5,354.491,6.4955
1,50-30-6,O=C(O)c1c(cccc1Cl)Cl,-0.222,1,1,4,1,58,0.740184,37.30,43.4213,3.318913,276.242090,1,1,2,191.013,2.6916
2,50-31-7,O=C(O)c1c(ccc(c1Cl)Cl)Cl,0.073,1,1,5,1,64,0.744344,37.30,48.4313,3.428931,335.668528,1,1,3,225.458,3.3450
3,50-32-8,c1ccc2c(c1)cc3ccc4cccc5ccc2c3c45,2.731,5,0,0,0,92,0.243454,0.00,87.6520,2.230840,1069.721887,0,0,0,252.316,5.7372
4,51-28-5,O=[N+]([O-])c1ccc(O)c(c1)[N+](=O)[O-],0.052,1,5,7,2,68,0.548520,106.51,41.4156,3.267052,375.287402,0,0,0,184.107,1.2086

In [52]:
df.columns

Index(['CAS', 'SMILES', 'Experimental value [log(L/kg)]', 'NumAromaticRings',
       'NumHAcceptors', 'NumHeteroatoms', 'NumRotatableBonds',
       'NumValenceElectrons', 'qed', 'TPSA', 'MolMR', 'BalabanJ', 'BertzCT',
       'fr_COO', 'fr_COO2', 'fr_halogen', 'MolWt', 'MolLogP'],
      dtype='object')

In [53]:
df.dtypes

CAS                                object
SMILES                             object
Experimental value [log(L/kg)]    float64
NumAromaticRings                    int64
NumHAcceptors                       int64
NumHeteroatoms                      int64
NumRotatableBonds                   int64
NumValenceElectrons                 int64
qed                               float64
TPSA                              float64
MolMR                             float64
BalabanJ                          float64
BertzCT                           float64
fr_COO                              int64
fr_COO2                             int64
fr_halogen                          int64
MolWt                             float64
MolLogP                           float64
dtype: object

In [60]:
x = df.drop(['CAS','SMILES','Experimental value [log(L/kg)]'],axis=1)
x

,NumAromaticRings,NumHAcceptors,NumHeteroatoms,NumRotatableBonds,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,fr_COO,fr_COO2,fr_halogen,MolWt,MolLogP
0,2,0,5,2,100,0.540334,0.00,85.0370,2.474117,494.044161,0,0,5,354.491,6.49550
1,1,1,4,1,58,0.740184,37.30,43.4213,3.318913,276.242090,1,1,2,191.013,2.69160
2,1,1,5,1,64,0.744344,37.30,48.4313,3.428931,335.668528,1,1,3,225.458,3.34500
3,5,0,0,0,92,0.243454,0.00,87.6520,2.230840,1069.721887,0,0,0,252.316,5.73720
4,1,5,7,2,68,0.548520,106.51,41.4156,3.267052,375.287402,0,0,0,184.107,1.20860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,2,4,6,10,150,0.608597,56.79,113.0137,1.980197,896.574346,0,0,1,411.885,3.41040
796,2,3,3,2,84,0.795366,37.81,69.0457,2.289333,565.011461,0,0,0,223.279,2.90002
797,0,0,1,0,48,0.415670,0.00,35.6934,2.327883,68.456011,0,0,0,114.212,1.24670
798,1,4,5,5,110,0.771792,55.84,76.7560,3.299967,478.396923,0,0,0,279.336,1.84434
799,0,4,4,0,72,0.559467,36.92,42.1880,2.450053,99.019550,0,0,0,176.212,1.45040

In [55]:
y= df['Experimental value [log(L/kg)]']

In [63]:
LR1 = LinearRegression()

In [65]:
LR1 = LR1.fit(x,y)